name: "Build Internet-Drafts"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build and publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - id: setup
        uses: martinthomson/i-d-template@v1
        with:
          token: ${{ github.token }}

      - id: build
        run: make

      - id: gh-pages
        if: ${{ github.event_name == 'push' }}
        uses: martinthomson/i-d-template@v1
        with:
          token: ${{ github.token }}
          type: gh-pages
